/* line 6, ../sass/nucleus.scss */
html {
  color: #333;
  font-size: 100%;
  /* Use 16px as per http://www.informationarchitects.jp/en/100e2r/ and http://www.wilsonminer.com/posts/2008/oct/20/relative-readability/ */
  font-family: "Droid Sans", Calibri, "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  line-height: 1.5em;
}

/* line 13, ../sass/nucleus.scss */
body {
  font-family: "Droid Sans", Calibri, "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
}

/* line 19, ../sass/nucleus.scss */
h1 {
  font-size: 32px;
  font-size: 2rem;
  /* 32px */
  margin-bottom: 0.75em;
  /* 24px */
  line-height: 1.5;
  /* 48px */
}

/* line 25, ../sass/nucleus.scss */
h2 {
  font-size: 24px;
  font-size: 1.5rem;
  /* 24px */
  margin-bottom: 1em;
  /* 24px */
  line-height: 1;
  /* 24px */
}

/* line 31, ../sass/nucleus.scss */
h3 {
  font-size: 20px;
  font-size: 1.25rem;
  /* 20px */
  margin-bottom: 1.2em;
  /* 24px */
  line-height: 1.2;
  /* 24px */
}

/* line 37, ../sass/nucleus.scss */
h4 {
  font-size: 18px;
  font-size: 1.125rem;
  /* 18px */
  margin-bottom: 1.333em;
  /* 24px */
  line-height: 1.333;
  /* 24px */
}

/* line 43, ../sass/nucleus.scss */
h5 {
  font-weight: bold;
}

/* line 47, ../sass/nucleus.scss */
h5,
h6 {
  font-size: 16px;
  font-size: 1rem;
  /* 16px */
  margin-bottom: 1.5em;
  /* 24px */
  line-height: 1.5;
  /* 24px */
}

/* line 57, ../sass/nucleus.scss */
p,
address {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 64, ../sass/nucleus.scss */
a {
  color: #003366;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  text-decoration: none;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #011b36;
}

/* line 69, ../sass/nucleus.scss */
a:visited {
  opacity: 0.8;
  /* A bit basic, but it’s a bare minumum... */
}

/* line 72, ../sass/nucleus.scss */
a:hover {
  text-decoration: underline;
}

/* line 79, ../sass/nucleus.scss */
ul,
ol {
  margin: 0 0 1.5em 20px;
}

/* line 85, ../sass/nucleus.scss */
ul ul,
ol ol,
ul ol,
ol ul {
  /* Let’s take care of lists in lists */
  margin: 0 0 0 20px;
}

/* line 89, ../sass/nucleus.scss */
li {
  line-height: 1.5em;
}

/* line 92, ../sass/nucleus.scss */
ul {
  list-style-type: disc;
}
/* line 94, ../sass/nucleus.scss */
ul ul {
  list-style-type: circle;
}

/* line 98, ../sass/nucleus.scss */
ol {
  list-style-type: decimal;
}

/* line 101, ../sass/nucleus.scss */
dl {
  margin-bottom: 1.5em;
}

/* line 104, ../sass/nucleus.scss */
dt {
  font-weight: bold;
}

/* line 107, ../sass/nucleus.scss */
dt:after {
  content: ":";
}

/* line 110, ../sass/nucleus.scss */
dt::after {
  content: ":";
}

/* line 113, ../sass/nucleus.scss */
dd {
  margin-left: 20px;
}

/* line 120, ../sass/nucleus.scss */
blockquote {
  line-height: 1.5em;
}

/* line 125, ../sass/nucleus.scss */
blockquote b,
blockquote .source {
  /* Mark the source up with either a <b> or another element of your choice with a class of source. */
  display: block;
  text-indent: 0;
}

/* line 136, ../sass/nucleus.scss */
q,
i,
em,
cite {
  font-style: italic;
  font-weight: inherit;
}

/* line 141, ../sass/nucleus.scss */
b,
strong {
  font-weight: bold;
  font-style: inherit;
}

/* line 145, ../sass/nucleus.scss */
mark {
  background: #ffc;
}

/* line 149, ../sass/nucleus.scss */
s,
del {
  text-decoration: line-through;
}

/* line 152, ../sass/nucleus.scss */
small {
  font-size: 0.75em;
  line-height: 1;
}

/* line 160, ../sass/nucleus.scss */
pre,
code {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 1em;
}

/* line 164, ../sass/nucleus.scss */
pre {
  overflow: auto;
  margin-bottom: 1.5em;
  line-height: 20px;
  /* Having to define explicit pixel values :( */
}

/* line 169, ../sass/nucleus.scss */
code {
  line-height: 1;
}

/* line 175, ../sass/nucleus.scss */
img {
  max-width: 100%;
  height: auto;
  /* Give it some text styles to offset alt text */
  font-style: italic;
  color: #c00;
}

/* line 182, ../sass/nucleus.scss */
img.left {
  margin: 0 20px 0 0;
}

/* line 183, ../sass/nucleus.scss */
img.right {
  margin: 0 0 0 20px;
}

/*--- FLASH/VIDEO ---*/
/* line 188, ../sass/nucleus.scss */
object,
embed,
video {
  max-width: 100%;
  height: auto;
}

/* line 195, ../sass/nucleus.scss */
fieldset {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
}

/* line 200, ../sass/nucleus.scss */
label {
  display: block;
  cursor: pointer;
  line-height: 1.5;
}

/* line 206, ../sass/nucleus.scss */
input,
textarea {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5;
}

/* line 212, ../sass/nucleus.scss */
[placeholder] {
  cursor: pointer;
}

/* line 216, ../sass/nucleus.scss */
[placeholder]:active,
[placeholder]:focus {
  cursor: text;
}

/* line 219, ../sass/nucleus.scss */
.check-list {
  width: 100%;
  overflow: hidden;
  list-style: none;
  margin: 0 0 1.5em 0;
}

/* line 225, ../sass/nucleus.scss */
.check-list li {
  width: 25%;
  float: left;
}

/* line 229, ../sass/nucleus.scss */
.check-label {
  display: inline;
}

/* line 232, ../sass/nucleus.scss */
.check-label:after {
  content: normal;
}

/* line 235, ../sass/nucleus.scss */
.check-label::after {
  content: normal;
}

/* line 238, ../sass/nucleus.scss */
.button {
  cursor: pointer;
}

/* line 241, ../sass/nucleus.scss */
fieldset > :last-child {
  /* Remove the margin from the last element in the fieldset--this makes our padding more consistent. */
  margin: 0;
}

/* line 245, ../sass/nucleus.scss */
.form-item {
  margin: 0 0 1em 0;
}

/* line 251, ../sass/nucleus.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 100%;
}

/* line 256, ../sass/nucleus.scss */
thead tr:last-of-type th {
  /* Thicker border on the table-headers of the last row in the table head */
  border-bottom-width: 2px;
}

/* line 260, ../sass/nucleus.scss */
tbody th {
  /* Thicker right border on table-headers in the table body */
  border-right-width: 2px;
}

/* line 264, ../sass/nucleus.scss */
th:empty {
  /* Hide the borders on any empty table-headers */
  border: none;
}

/* line 268, ../sass/nucleus.scss */
th, td {
  vertical-align: top;
  padding: 0.75em;
  border: 1px solid #ccc;
}

/* line 273, ../sass/nucleus.scss */
th {
  font-weight: bold;
  text-align: center;
}

/* line 277, ../sass/nucleus.scss */
table [colspan] {
  /* This looks lovely, trust me... */
  text-align: center;
}

/* line 281, ../sass/nucleus.scss */
table [rowspan] {
  /* ...as does this. */
  vertical-align: middle;
}

/*
Assuming IE has an 'implied' colspan of one on cells without an explicit colspan attribute, fix/undo it.
See http://jsfiddle.net/csswizardry/UJJay/
*/
/* line 289, ../sass/nucleus.scss */
[colspan="1"] {
  text-align: left;
}

/* line 292, ../sass/nucleus.scss */
[rowspan="1"] {
  vertical-align: top;
}

/* line 295, ../sass/nucleus.scss */
tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}

/* line 298, ../sass/nucleus.scss */
tfoot {
  text-align: center;
}

/* line 301, ../sass/nucleus.scss */
tfoot td {
  border-top-width: 2px;
}

/* line 307, ../sass/nucleus.scss */
.message {
  font-weight: normal;
  display: block;
  padding: 10px 10px 10px 36px;
  border: 1px solid #ccc;
  margin: 0 0 1.5em 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

/* With multiple errors it’s nice to group them. */
/* line 322, ../sass/nucleus.scss */
ul.message {
  list-style: decimal outside;
  /* It’s also handy to number them. However, they might not necessarily be in a particular order, so we spoof it by putting numbers on an unordered list */
  padding: 10px 10px 10px 56px;
}

/* line 326, ../sass/nucleus.scss */
.error {
  border-color: #fb5766;
  background: url(../img/css/icons/error.png) 10px center no-repeat #ffaabb;
}

/* line 330, ../sass/nucleus.scss */
.success {
  border-color: #83ba77;
  background: url(../img/css/icons/success.png) 10px center no-repeat #d1feba;
}

/* line 334, ../sass/nucleus.scss */
.info {
  border-color: #85a5be;
  background: url(../img/css/icons/info.png) 10px center no-repeat #c4dbec;
}

/* line 338, ../sass/nucleus.scss */
.warning {
  border-color: #d8d566;
  background: url(../img/css/icons/warning.png) 10px center no-repeat #fef8c4;
}

/* line 345, ../sass/nucleus.scss */
hr {
  margin: 0 0 1.5em 0;
}

/* line 352, ../sass/nucleus.scss */
html {
  font-size: 13px;
  font-size: .8125rem;
  line-height: 1.53846154;
}

/* line 357, ../sass/nucleus.scss */
body {
  -webkit-text-size-adjust: none;
}

/* line 366, ../sass/nucleus.scss */
#toolbar {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 373, ../sass/nucleus.scss */
#tabs ul.primary {
  border-bottom: 1px solid #e5e5e5;
  float: left;
  list-style-type: none;
  margin-left: 0;
  width: 100%;
}
/* line 379, ../sass/nucleus.scss */
#tabs ul.primary li {
  float: left;
  line-height: 30px;
  margin-right: -1px;
}
/* line 383, ../sass/nucleus.scss */
#tabs ul.primary li a {
  color: #666666;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #ececec;
  border-bottom: none;
  float: left;
  padding: 0 15px;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#tabs ul.primary li a:hover {
  color: black;
}
/* line 392, ../sass/nucleus.scss */
#tabs ul.primary li a:hover {
  background-color: #f2f2f2;
}
/* line 397, ../sass/nucleus.scss */
#tabs ul.primary li.active a {
  color: black;
  background-color: #fff;
  margin-bottom: -1px;
  padding-bottom: 1px;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#tabs ul.primary li.active a:hover {
  color: #333333;
}

/* line 414, ../sass/nucleus.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 418, ../sass/nucleus.scss */
.container {
  *zoom: 1;
  clear: both;
  margin: 0 auto;
  position: relative;
  width: 960px;
}
/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 426, ../sass/nucleus.scss */
#main-content {
  clear: left;
}

/* line 429, ../sass/nucleus.scss */
#content {
  clear: left;
  margin-bottom: 20px;
}

/* line 433, ../sass/nucleus.scss */
#sidebar-first {
  clear: right;
  margin-bottom: 20px;
}

/* line 437, ../sass/nucleus.scss */
#sidebar-second {
  clear: right;
  margin-bottom: 20px;
}

/* line 443, ../sass/nucleus.scss */
.one-sidebar #content {
  float: left;
  width: 66.6666666666667%;
}
/* line 447, ../sass/nucleus.scss */
.one-sidebar #sidebar-first {
  float: right;
  width: 29.1666666666667%;
}

/* line 453, ../sass/nucleus.scss */
.two-sidebars #main-content {
  float: left;
  width: 77.0833333333333%;
}
/* line 457, ../sass/nucleus.scss */
.two-sidebars #content {
  float: left;
  width: 70.2702702702703%;
}
/* line 461, ../sass/nucleus.scss */
.two-sidebars #sidebar-first {
  float: right;
  width: 29.7297297297297%;
}
/* line 465, ../sass/nucleus.scss */
.two-sidebars #sidebar-second {
  float: right;
  width: 16.6666666666667%;
}

@media print {
  /* line 475, ../sass/nucleus.scss */
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  /* line 484, ../sass/nucleus.scss */
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 495, ../sass/nucleus.scss */
  .one-sidebar #content,
  .one-sidebar #sidebar-first {
    clear: both;
    float: left;
    width: 100%;
  }

  /* line 505, ../sass/nucleus.scss */
  .two-sidebars #main-content,
  .two-sidebars #content,
  .two-sidebars #sidebar-first,
  .two-sidebars #sidebar-second {
    clear: both;
    float: left;
    width: 100%;
  }
}
