/* line 58, icon/*.png */
.icon-sprite {
  background: url('../images/icon-s419a39d16a.png') no-repeat;
}

/* line 19, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 29, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 42, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 52, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
[hidden] {
  display: none;
}

/* line 76, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
}

/* line 84, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
body {
  margin: 0;
}

/* line 97, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 107, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 121, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
h1 {
  font-size: 2.57143em;
  line-height: 1.16667em;
  margin-top: 0.16667em;
  margin-bottom: 0.16667em;
}

/* line 130, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
h2 {
  font-size: 1.71429em;
  line-height: 1.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* line 136, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
h3 {
  font-size: 1.14286em;
  line-height: 1.5em;
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}

/* line 142, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.28571em;
  margin-top: 0.42857em;
  margin-bottom: 0.42857em;
}

/* line 148, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
h5 {
  font-size: 0.92857em;
  line-height: 1.38462em;
  margin-top: 0.46154em;
  margin-bottom: 0.46154em;
}

/* line 154, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
h6 {
  font-size: 0.78571em;
  line-height: 1.63636em;
  margin-top: 0.54545em;
  margin-bottom: 0.54545em;
}

/* line 164, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 173, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 177, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
blockquote {
  margin: 0.42857em 48px;
}

/* line 186, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 194, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 204, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
p,
pre {
  margin: 0.42857em 0;
}

/* line 217, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
  line-height: 1.28571em;
}

/* line 229, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 242, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
q {
  quotes: none;
}

/* line 249, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 254, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
small {
  font-size: 75%;
}

/* line 264, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 271, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 275, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 291, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 0.42857em 0;
}

/* line 296, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
dd {
  margin: 0 0 0 48px;
}

/* line 306, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 48px;
}

/* line 315, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 331, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 340, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 353, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
figure {
  margin: 0;
}

/* line 366, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
form {
  margin: 0;
}

/* line 374, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 0.07857em;
  border-bottom-style: solid;
  border-bottom-width: 0.07143em;
  padding-bottom: 0.20714em;
  border-left-style: solid;
  border-left-width: 0.07143em;
  padding-left: 0.19643em;
  border-right-style: solid;
  border-right-width: 0.07143em;
  padding-right: 0.19643em;
}

/* line 390, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 408, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 422, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 436, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 449, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 461, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 475, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 485, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 495, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 505, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 519, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, /Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, /Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 0.42857em;
}

/* line 12, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
html > body {
  line-height: 1.28571em;
  color: #68707e;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
}

/* line 19, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
body.html {
  background-color: #f0f1f2;
}

/* line 26, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
h1 {
  font-size: 2.57143em;
  line-height: 1.16667em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.16667em;
  color: #e55c16;
}

/* line 32, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
h2 {
  font-size: 1.71429em;
  line-height: 0.75em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.25em;
  color: #e55c16;
  font-family: "Droid Serif", Georgia, serif;
}

/* line 39, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
h3 {
  font-size: 1.14286em;
  line-height: 1.5em;
  margin-top: 0.75em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.75em;
  font-family: "Droid Serif", Georgia, serif;
  color: #e55c16;
}

/* line 46, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
h4 {
  font-size: 1em;
  line-height: 1.28571em;
  margin-top: 1.71429em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Droid Serif", Georgia, serif;
  color: #e55c16;
}

/* line 53, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
h5 {
  font-size: 0.92857em;
  line-height: 1.38462em;
  margin-top: 1.84615em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 58, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
h6 {
  font-size: 0.78571em;
  line-height: 1.63636em;
  margin-top: 2.18182em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  letter-spacing: .03em;
  text-transform: uppercase;
}

/* line 69, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
a {
  color: #254590;
  text-decoration: none;
}
/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #1b3267;
}
/* line 4, /Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 78, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
p {
  margin: 0 0 0.85714em;
}

/* line 85, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 93, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
dl {
  margin-bottom: 1.28571em;
}

/* line 97, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
dt {
  font-weight: bold;
}

/* line 101, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
dd {
  margin-left: 24px;
}

/* line 108, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 112, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_base.scss */
.intro {
  font-size: 1.28571em;
  line-height: 1.33333em;
}

/* line 10, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_images.scss */
.image-frame > img,
.image-frame > a > img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(104, 112, 126, 0.6) 0 1px 3px;
  -moz-box-shadow: rgba(104, 112, 126, 0.6) 0 1px 3px;
  box-shadow: rgba(104, 112, 126, 0.6) 0 1px 3px;
  padding: 4px;
  background-color: white;
}

/* line 20, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_images.scss */
.image-left {
  float: left;
  margin: 0 24px 0.42857em 0;
}

/* line 25, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_images.scss */
.image-right {
  float: right;
  margin: 0 0 0.42857em 24px;
}

/* line 13, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_tables.scss */
table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.85714em;
}

/* line 21, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_tables.scss */
thead {
  text-align: left;
}
/* line 24, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_tables.scss */
thead th {
  vertical-align: bottom;
}

/* line 33, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_tables.scss */
th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #c3c7cc;
}

/* line 45, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_tables.scss */
caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

/* line 50, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_tables.scss */
tbody + tbody {
  border-top: 2px solid #c3c7cc;
}

/* line 59, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

/* line 67, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_tables.scss */
tr.odd {
  background-color: #f0f1f2;
}

/* line 68, /Users/johnferris/Documents/Drupal/Themes/center/STARTERKIT/sass/global/_tables.scss */
tr.even {
  background-color: transparent;
}
