//
// @file
// Drupal message styles.

#messages {
  @include legacy-pie-clearfix;
  background-color: $white;
  border-bottom: solid 1px $gray-lightest;
  font-weight: 600;
  padding: rhythm(1) $w-gutter-half 0;
}

.messages {
	@include border-radius(4px);
	margin-bottom: rhythm(1);
	padding: rhythm(1) $w-gutter-half;
  color: $white;

  a {
    color: $white;
    font-weight: bold;
  }
}

.error    { background-color: $red; }
.warning  { background-color: $orange; }
.status   { background-color: $green; }
