// BASE CLASS
// ----------

.nav {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.nav-inline {
  > .nav-item {
    display: inline;

    > .nav-link {
      @include inline-block;
    }
  }
}

// TABS AND PILLS
// -------------

// Common styles
.nav-tabs,
.nav-pills {
  @include clearfix;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  display: block;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 4px;
}

// TABS
// ----------------------------------------------------------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid #ddd;
}

// Make the list-items overlay the bottom border
.nav-tabs > li {
  margin-bottom: -1px;
}

// Actual tabs (as links)
.nav-tabs > li > a {
  @include border-top-radius(4px);
  @include leading-border(1px, .5);
  @include trailing-border(1px, .5);
  @include box-shadow($white 0 1px 2px 0 inset);
  border: 1px solid $gray-lightest;
  background-color: $gray-white;

  &:hover {
    border-color: $gray-light $gray-light $white;
  }
}

// Active state, and it's :hover to override normal :hover
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: $gray;
  background-color: $white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}


// STACKED
// -----------

// Stacked tabs and pills
.nav-stacked > .nav-item {
  float: none;
}

.nav-stacked > .nav-item > .nav-link {
  display: block;
  padding: rhythm(1) 12px;
  margin-right: 0; // no need for the gap between nav items

  &.active {
    font-weight: bold;
  }
}

