//  Icons
//--------------------------------------------------------------------------------

/*@mixin icon($normal: 0 0, $hover: "none", $active: "none") {
  @include background-image(image-url("icons.png"));
  background-repeat: no-repeat;
  background-position: $normal;
  @if $hover != 'none' {
    &:hover {
      background-position: $hover;
    }
  }

  @if $active != 'none' {
    &:focus,
    &:active {
      background-position: $active;
    }
  }
}

@mixin product-icon($normal: 0 0, $hover: "none", $active: "none") {
  @include icon($normal, $hover, $active);
  @include background-image(image-url("icons-products.png"));
}*/
