//
// @file
// Variables for use throughout this compass project.


//
// IE Support
//-----------------------------------------------------------------------------

// Setting this to false will result in smaller output, but no support for ie6 hacks.
// $legacy-support-for-ie6: true; // Overrides default set in Support partial.

// Setting this to false will result in smaller output, but no support for ie7 hacks.
// $legacy-support-for-ie7: true; // Overrides default set in Support partial.


//  Colors
//-----------------------------------------------------------------------------

$white:             #ffffff;
$black:             #000000;
$black-lighter:     #291511;

$gray-white:        #F0F1F2;
$gray-lightest:     #E5E5E5;
$gray-light:        #E1E3E6;
$gray:              #C3C7CC;
$gray-dark:         #68707e;
$gray-darker:       #424c5e; //default
$gray-darkest:      #182643;

$red:               #b52847;
$red-dark:          #95223C;

$green-lighter:     #4EBE53;
$green:             #3EA742;
$green-dark:        #5DA863;
$green-darker:      #2E7D31;
$green-darkest:     #276C2A;

$blue-white:        #ecf3f7;
$blue-lightest:     #c4d4e6;
$blue-lighter:      #c9e7f6;
$blue-light:        #ccffff;

$royal-light:       #4870BB;
$royal:             #3D5CAD;
$royal-dark:        #4168b6;
$royal-darkest:     #325190;

$navy-light:        #424C5E;
$navy:              #353D4B;
$navy-dark:         #313946;
$navy-darkest:      #182643;


//  Typography
//----------------------------------------------------------------------------------------------------

//  Typefaces
$primary-typeface:    Georgia, sans-serif;
$secondary-typeface:  Helvetica, Arial, sans-serif;
$tertiary-typeface:   $secondary-typeface;
$base-font-family:    $primary-typeface;

//  Font sizes
$fs-xxs:     9px;
$fs-xs:      10px;
$fs-s:       11px;
$fs-m:       12px;
$fs-l:       14px;
$fs-xl:      16px;
$fs-xxl:     24px;
$fs-xxxl:    30px;
$fs-xxxxl:   36px;
$fs-xxxxxl:  40px;

$h1-font-size: $fs-xxxxl !default;
$h2-font-size: $fs-xxl !default;
$h3-font-size: $fs-xl !default;
$h4-font-size: $fs-m !default;
$h5-font-size: $fs-s !default;
$h6-font-size: $fs-xs !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// Vertical Ryhthm
$base-font-size:    $fs-m;       // Font-size of your body copy.
$base-line-height:  7px;         // Setting the base-line-height half
                                 // the height of the desired body copy
                                 // line-height helps prevent sparse
                                 // leading at different font-sizes.


//  Layout
//----------------------------------------------------------------------------------------------------

$width-full: 940px;
$width-content: 620px;
$width-sidebar: 320px;
$width-gutter: 20px;


//  CSS3
//----------------------------------------------------------------------------------------------------

$default-transition-duration: .15s;
