//
// @file
// Region layout styles.
// This file should contain the layout styles of blocks within regions
// such as, header, footer etc.

// Above content
#above-content {
  padding-top: rhythm(2);
}

// Main
#main-content {
  padding: rhythm(3) 0;
}

#content {
  position: relative;
}