//
// @file
// Default tag styles.
//
// The only class selectors allowed in this file are those intended
// for use within the WYSIWYG editor.
// ----------------------------------------------------------------------------

// Establish Vertical rhythm.
@include establish-baseline();

html > body {
  // Override the default line height to allow for smaller baseline heights.
  @include adjust-leading-to(3);
  color: $clr-text;
  font-family: $primary-typeface;
}

// Headings
//-----------------------------------------------------------------------------

h1 {
  @include adjust-font-size-to($h1-font-size);
  @include rhythm(0, 0, 0, 1, $h1-font-size);
  color: $clr-accent;
}

h2 {
  @include adjust-font-size-to($h2-font-size, 3);
  @include rhythm(0, 0, 0, 1, $h2-font-size);
  color: $clr-accent;
  font-family: $secondary-typeface;
}

h3 {
  @include adjust-font-size-to($h3-font-size);
  @include rhythm(2, 0, 0, 2, $h3-font-size);
  font-family: $secondary-typeface;
  color: $clr-accent;
}

h4 {
  @include adjust-font-size-to($h4-font-size);
  @include rhythm(4, 0, 0, 0, $h4-font-size);
  font-family: $secondary-typeface;
  color: $clr-accent;
}

h5 {
  @include adjust-font-size-to($h5-font-size);
  @include rhythm(4, 0, 0, 0, $h5-font-size);
}

h6 {
  @include adjust-font-size-to($h6-font-size);
  @include rhythm(4, 0, 0, 0, $h6-font-size);
  letter-spacing: .03em;
  text-transform: uppercase;
}


// Links
//-----------------------------------------------------------------------------

a {
  @include link-colors($clr-link, darken($clr-link, 10%));
  @include hover-link;
}


// Copy
//-----------------------------------------------------------------------------

p {
  margin: 0 0 rhythm(2);
}

// Images
//-----------------------------------------------------------------------------

img {
  max-width: 100%;
  height: auto;
}

// Definition Lists
//-----------------------------------------------------------------------------

dl {
  margin-bottom: rhythm(3);
}

dt {
  font-weight: bold;
}

dd {
  margin-left: $w-gutter;
}

// Utility classes
//-----------------------------------------------------------------------------

.clearfix {
  @include legacy-pie-clearfix;
}

.intro {
  @include adjust-font-size-to($fs-xxl);
}
